.container {
  width: 90%;
  padding-top: 20px;
  margin: auto;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
}

.list {
  list-style: none;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  text-align: left;
}

.list-item {
  background: #333;
  padding: 10px;
  margin: 10px;
  width: 45%;
  cursor: pointer;
}

.list-item:hover {
  background: #000;
}

.input-field {
  padding: 10px;
  outline: none;
  border: 2px solid #333;
  width: 45%;
  font-size: 20px;
}
.button {
  font-size: 20px;
  cursor: pointer;
  border: 2px solid #333;
  padding: 10px;
  color: white;
  background-color: green;
}

.button:hover {
  background-color: rgb(8, 136, 8);
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .container {
    width: 95%;
  }
  .list {
    margin-left: -2.5rem;
  }

  .list-item {
    width: 100%;
  }
}
